---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const episodes = await getCollection("episodes");
---

<Layout>
    <main>
        <h1>Episodes</h1>
    </main>

    <style>
        h1 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    </style>
</Layout>
