---
import Episode from "../components/Episode.astro";
import { getCollection } from "astro:content";
const episodes = await getCollection("episodes");
import Layout from "../layouts/Layout.astro";
import '../styles/global.css';
---


<html>


<style>


</style>

    <div class="player">

        <h1 class=""> Title </h1>


    </div>

</html>