---
import Episode from "../components/Episode.astro";
import { getCollection } from "astro:content";
const episodes = await getCollection("episodes");
import Layout from "../layouts/Layout.astro";
---


<html>


<style>


</style>

    <div class="player">

        <h1> Title </h1>


    </div>

</html>